<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="estop_controller" output="screen">
    <param name="port" value="/dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_55731323136351D071C0-if00" />
    <param name="baud" value="57600" /> <!--!Note: this value must be 57600! -->
  </node>
</launch>