<?xml version="1.0"?>
<launch>

  <node pkg="image_view" type="image_view" name="image_view_down" respawn="true" output="screen">
    <remap from="image" to="/down/image_raw"/>
    <param name="autosize" value="true" />
  </node>

  <node pkg="image_view" type="image_view" name="image_view_front" respawn="true" output="screen">
    <remap from="image" to="/front/image_rect_color"/>
    <param name="autosize" value="true" />
  </node>

</launch>