<?xml version="1.0"?>
<launch>
    <arg name="use_front" default="true"/>
    <arg name="use_down" default="true"/>

    <include if="$(arg use_front)"
        file="$(find merlion_bringup)/launch/logi_c920.launch">
    </include>

    <include if="$(arg use_down)"
        file="$(find merlion_bringup)/launch/twincam_1.launch">
    </include>

</launch>