<launch>
    <arg name="use_logitech_cam" default="true"/>
    <arg name="use_astra_rgbcam" default="true"/>

    <include if="$(arg use_logitech_cam)"
        file="$(find merlion_bringup)/launch/logitech_cam.launch">
    </include>
    <include if="$(arg use_astra_rgbcam)"
        file="$(find merlion_bringup)/launch/astra_rgb.launch">
    </include>
</launch>